@function toPercents($target, $context) {
  @return ($target / $context) * 100%;
}

@function toEms($target, $context: 16) {
  @return ($target / $context) * 1em;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
