$fontLatoRegular: "LatoRegular", Verdana, Arial, sans-serif;
$fontLatoBlack: "LatoBlack", Verdana, Arial, sans-serif;
$fontLatoThin: "LatoThin", Verdana, Arial, sans-serif;
$fontLatoLight: "LatoLight", Verdana, Arial, sans-serif;

$mainPageSprites: "../images/main-sprites.png";
$mainPageBgImg: "../images/main-bg.jpg";

$mainBlueColor: #0023ff;
$lightGreyColor: #a8a8a8;
